* {
    margin: 0;
    padding: 0;
    font-size:16px;
    
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top:0;
    z-index: 200;
}

.container {
    width: 100%;
    height: 50px;
  
}

nav {
  left: 0;
  top: 0; 
  
      
  
}

nav ul {
  margin: 0 15px;
  padding: 0;
  list-style: none;
    float: right;
    margin-left: 50%;
    
    
    
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 28px;
  position: relative;
    
  
  
}

nav a {
  color: beige;
  text-decoration: none;
  text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
    
    
}

nav a:hover {
  color: #2dbabf;
   
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;

    
}

nav a:hover::before {
  width: 100%;
    
}

body {
    margin:5.7% 0;
    width: 100%;
    min-height: 1000px; 
    background-image: url(../media/mountain-in-progress.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}


.main-nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: .75;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 3px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#logo {
    position:fixed;
    margin: .5% 5%;
    float: right;
    height: 9%;
    z-index:2;
}

.trees {
    position: absolute;
    margin-top:5.7px;
    width: 100%;
    min-height: 1100px;
    object-fit: contain;
    z-index: 1;
}

/*above is main top nav*/ 

.intro {
    position: relative;
    text-align:center;
    top: 600px;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin-top: 50px;
    font-size: 64px;
    z-index: 4;
}

.first-part {
  position: absolute;
top: 780px;
height: 500px;
width: 100%;
background-color: blue;

background-image: linear-gradient(to bottom, #131319, cyan);
z-index: 5;
}

#first-part-c {
     position: absolute;
    height: 300px;
    width: 100%;
    top: 780px;
    background-image: linear-gradient(to bottom, #131319, cyan);
    z-index: 5;
}
/*gradients for background*/

.info {
    text-align:center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

.content {
     position: relative;
    text-align:center;
    color: white;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

#content-projects-r {
    position: relative;
    text-align: right;
    color: #eee;
    top: 50px;
    width: 1200px;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

/*below is jpjms and gs hover*/
 
#size-g {
     width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-g {
    position: relative;
    top: 100px;
    left: 700px;
    width: 360px;
    height: 80px;
    margin-top: 150px;
    background: rgb(33, 80, 15);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5;
        
}


.container-g img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.container-g:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}.container-g:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}.container-g:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}.container-g:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .8;
}

.container-j {
    position: relative;
      top: 100px;
    width: 360px;
    height: 80px;
    margin: -100px 0;
    background: rgb(33, 80, 15);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5;
        
}
.container-j img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.container-j:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}.container-j:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}.container-j:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}.container-j:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .8;
}

/*for hover transition photos jpjms and gs*/

#content-c {
     position: relative;
    text-align:center;
    color: white;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

#phone {
        position: relative;
    text-align: left;
    color: #111;
    width: 500px;
    margin: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    z-index: 4;
}

#email {
    position: relative;
    text-align: left;
    color: #111;
    width: 800px;
    margin: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    z-index: 4;
}

.divider {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1000px;
    background-image: linear-gradient(to bottom, cyan, white);
}

#kenobi {
    width: 70%;
    height: 100%;
    float: right;
}

#api-footer {
    background-color: #222;
    position: relative;
    top: 1100px;
    width: 100%;
    height: 400px;
}

#api-cont {
    background-color: #402629;
    width: 80%;
    height: 100%;
    margin: auto;
}

#apitext {
    margin-top: 80px;
    background-color: white;
    width: 30%;
    height: 6%;
    float: left;
}
