* {
    margin: 0;
    padding: 0;
    font-size:16px;
    
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top:0;
    z-index: 6; /*static for all webpages*/
}

/*positioning of nav items*/
nav ul {
  margin: 0 15px;
  padding: 0;
  list-style: none;
    float: right;
    margin-left: 50%;
    
    
    
}

/*Also, positioning of nav items*/
nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 28px;
  position: relative;
}

/*color of nav items*/
nav a {
  color: beige;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
    
    
}

/*ease bar top of nav items, color*/
nav a:hover {
  color: #2dbabf;
   
}

/*ease bar top of nav items length, before hover*/
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-image: linear-gradient(to right, #282832, cyan);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;

    
}

/*ease bar top of nav items length, when hovered*/
nav a:hover::before {
  width: 100%;
    
}

/*mountains static in background*/
.mountain {
    margin:5.7% 0;
    width: 100%;
    min-height: 1000px; 
    background-image: url(../media/mountain-in-progress.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

/*styling and positioning of nav*/
.main-nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: .75;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 3px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*personal logo in nav*/
#logo {
    position:fixed;
    margin: .5% 5%;
    float: right;
    height: 9%;
    z-index:1;
}
/*main top nav ^^^^*/ 

/*paralaxed tree image*/
.trees {
    position: absolute;
    margin-top:5.7px;
    width: 100%;
    min-height: 1100px;
    object-fit: contain;
    z-index: 1;
}


.intro {
    position: relative;
    text-align:center;
    top: 600px;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin-top: 50px;
    font-size: 64px;
    z-index: 4;
}

.first-part {
  position: absolute;
  top: 780px;
  height: 500px;
  width: 100%;
  background-image: linear-gradient(to bottom, #131319, cyan);
  z-index: 5;
    
}

#first-part-c {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 780px;
    background-image: linear-gradient(to bottom, #131319, cyan);
    z-index: 5;
}
/*gradients for background*/

#skills-sec {
    position: absolute;
    width: 100%;
    height: 180px;
    top: 1280px;
    background-color: #282832;
}

#skills-h {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-top: 45px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 64px;
    color: white;
    
}

#skills-home {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 1450px;
    background-image: linear-gradient(to bottom, #FFAA64, #FF0000);
}

.skill-names {
    display: flex;
    height: 100%;
    width: 80%;
    font-size: 30px;
    color: #282832;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    margin: 20px;
}

.skill-a {
    display: flex;
    height: 25px;
    width: 90%;
    margin: 20px;
    border-radius: 0 15px 15px 15px;
    background-image: linear-gradient(to right, #282832, cyan);
    z-index: 9;

}
.skill-b {
    display: flex;
    height: 25px;
    width: 65%;
    margin: 20px;
    border-radius: 0 15px 15px 15px;
    background-image: linear-gradient(to right, #282832, cyan);
    z-index: 9;

}
.skill-c {
    display: flex;
    height: 25px;
    width: 50%;
    margin: 20px;
    border-radius: 0 15px 15px 15px;
    background-image: linear-gradient(to right, #282832, cyan);
    z-index: 9;

}
.skill-d {
    display: flex;
    height: 25px;
    width: 90%;
    margin: 20px;
    border-radius: 0 15px 15px 15px;
    background-image: linear-gradient(to right, #282832, #00c9ff);
    z-index: 9;

}



.info {
    text-align:center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

.content {
     position: relative;
    text-align:center;
    color: white;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

#content-projects-r {
    position: relative;
    text-align: right;
    color: #eee;
    top: 50px;
    width: 1200px;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

/*below is jpjms and gs hover*/
 
#size-g {
     width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-g {
    position: relative;
    top: 100px;
    left: 700px;
    width: 360px;
    height: 80px;
    margin-top: 150px;
    background: rgb(33, 80, 15);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5;
        
}

/*hover images on "Projects" page*/
/* green solution landscaping hover property */
.container-g img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.container-g:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}.container-g:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}.container-g:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}.container-g:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .8;
}

/* Joel P. Jensen School hover property*/
.container-j {
    position: relative;
      top: 100px;
    width: 360px;
    height: 80px;
    margin: -100px 0;
    background: rgb(33, 80, 15);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5;
        
}
.container-j img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.container-j:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}.container-j:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: .8;
}.container-j:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: .6;
}.container-j:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: .8;
}

/*for hover transition photos jpjms and gs*/

#content-c {
     position: relative;
    text-align:center;
    color: white;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    z-index: 4;
}

#phone {
        position: relative;
    text-align: left;
    color: #111;
    width: 500px;
    margin: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 58px;
    z-index: 4;
}

#email {
    position: relative;
    text-align: left;
    color: #111;
    width: 800px;
    margin: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 58px;
    z-index: 4;
}

.divider {
    position: absolute;
    width: 100%;
    height: 650px;
    top: 1250px;
    background-image: linear-gradient(to bottom, cyan, white);
}

.divider-c {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 1050px;
    background-image: linear-gradient(to bottom, cyan, white);
}

@media screen and (max-width: 960px) {
    
}
