body{
    background-color: #d7daff;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-chara{
  height: 350px;
  width: 300px;
}

.pokemonname{
 display: flex;
 justify-content: center;
 font-family: 'Josefin Sans', sans-serif;
 padding-top: 8px;
 font-size: 35px;
 border-radius:25px;
 background-color: #192653;
 color: #facc15;
}

.stats{
  font-size: 18px;
  color: blue;
  position: absolute;
  top: 1px;
  z-index: 3;
  width: 100%;
  height: 200px;
  list-style-type: none;
  padding: 0;
  top: -50px;
}

li{
  height: 20px;
  margin-bottom: 15px;
}

h1{
  text-align: center;
}
.card {
  width: 300px;
  height: 400px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: -webkit-transform .6s;
  -moz-transition: -moz-transform .6s;
  -o-transition: -o-transform .6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.card .front {
  height: 395px;
  background-image: linear-gradient(to bottom right, #444, cyan);
  border-radius: 25px;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.background{
  position: absolute;
  height: 300px;
  border-radius: 25px;
  background-image: url("../Pokemon-DB-master/img/pokemon-backdrop.jpg");
  
  
}

.card.is-flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
} 

.flip-container {
	perspective: 3000px;
}

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}


.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}


.front {
  z-index: 2;
  	transform: rotateY(0deg);
}


.back {

	transform: rotateY(180deg);
}

#cardCreation {
  font-family: 'Text Me One', sans-serif;
} 